<!--This is a confirmation page for deletion-->

<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title: 'Delete Food'}); %>
  <body>
    <% include ../partials/navbar %>

    <div class="container">
      <h1>Delete</h1>
      <p>The following feeding will be deleted. Are you sure?</p>
      <p>Name: <%=data.animalNickname%></p>
      <p>Food: <%=data.food%></p>
      <p>Medicine: <%=data.medicine%></p>
      <p>Date: <%=data.dateTime%></p>
      <form method="POST" action="./delete-feeding" enctype="text/html">
        <input type="hidden" name="id" value="<%=data._id%>" />
        <button class="btn btn-primary">Delete</button>
      </form>
    </div>
    <% include ../partials/scripts %>
  </body>
</html>
